[submodule "roles/denics.htpc-common"]
	path = roles/denics.htpc-common
	url = git@github.com:denics/htpc-ansible-common.git
[submodule "roles/denics.htpc-nas"]
	path = roles/denics.htpc-nas
	url = git@github.com:denics/htpc-ansible-htpc-nas.git
