# Copy custom/custom.yml.sample to custom/custom.yml
# Modify lines were defaults that need to be changed.

# Switches to Enable/Disable Roles
# By default nothing is enabled!

htpc_nas_enabled: no
kodi_mysql_enabled: no
sickrage_enabled: no
radarr_enabled: no
headphones_enabled: no
nzbToMedia_enabled: no
deluge_enabled: no
sabnzbd_enabled: no
tvheadend_enabled: no
htpc_manager_enabled: no


# htpc-common role
# ----------------

# htpc user
htpc_user_username: htpc
htpc_user_password: htpc
htpc_user_group: htpc
htpc_user_shell: /bin/bash
htpc_user_sudo_access: no

# services
htpc_create_media_folders: yes
htpc_ssh_service: yes
htpc_ssl_services: yes

# downloads and media directories
htpc_media_path: /home/{{ htpc_user_username }}
htpc_media_movies: movies
htpc_media_tv: tv_shows
htpc_media_music: music
htpc_media_pictures: pictures
htpc_downloads_complete: "{{ htpc_media_path }}/downloads/complete"
htpc_downloads_incomplete: "{{ htpc_media_path }}/downloads/incomplete"

# Helper variable. In use by other roles
# Change the way different service are resolved in configuration files.
# Available values are hostname or staticip
htpc_resolving: hostname

# htpc-nas role
# -------------

# Enable NFS sharing ( Used by Kodi to share media )
htpc_nas_nfs: yes
# Enable Windows Sharing
htpc_nas_cifs: yes
# Enable Mac Sharing
htpc_nas_afp: yes
# The name of your workgroup
htpc_nas_samba_domain: WORKGROUP

# defaults file for kodi
# ----------------------
kodi_config_path: "/home/{{ htpc_user_username }}/.kodi/"
kodi_device_name: "kodi"
kodi_mysqldb_host: "{{ ansible_default_ipv4.address }}"
kodi_mysqldb_user: "{{ htpc_user_username }}"
kodi_mysqldb_password: "{{ htpc_user_password }}"
kodi_airplay: false
kodi_airplay_password: "{{ htpc_user_password }}"
kodi_esallinterfaces: true
kodi_upnp: false
kodi_webserver: true
kodi_webserver_port: 6080
kodi_web_server_username: "{{ htpc_user_username }}"
kodi_web_server_password: "{{ htpc_user_password }}"
kodi_zeroconf: true

# deluge role
# -----------

# Deluge Daemon Path
deluged_path: "{{ htpc_media_path }}/.deluged"
# Deluge Incomplete download locations
deluged_incomplete: "{{ htpc_downloads_incomplete }}/deluged"
# Password for user.
deluged_user: "{{ htpc_user_username }}"
deluged_password: "{{ htpc_user_password }}"
# Daemon port
deluged_port: 58848
deluge_web_port: 9000















# defaults file for sickrage
# --------------------------
sickrage_path: /srv/sickrage
sickrage_repo: https://git.sickrage.ca/SiCKRAGE/sickrage.git
sickrage_branch: master
sickrage_api_key: 
sickrage_host: "{{ ansible_default_ipv4.address }}"


















---
# defaults file for nzbtomedia

nzbtomedia_path: /srv/nzbtomedia


















# deluge role
# -----------

# Deluge Daemon Path
deluged_path: /opt/deluged
# Deluge Incomplete download locations
deluged_incomplete: "{{ htpc_downloads_incomplete }}/deluged"
# Password for localclient user.
deluged_localclient_password: 2b9cf85259f2149da47458eda73ba23ac06faa21
deluged_port: 58846
deluge_web_port: 8112


# sabnzbd role
# ------------

# Subnzbd Daemon Path
sabnzbd_path: /opt/sabnzbd

# Sabnzbd API Key
sab_apikey: c48afc846972e295826bb05d2e84dd59

# Sabnzbd Incomplete download locations
sabnzbd_incomplete: "{{ htpc_downloads_incomplete }}/sabnzbd"

# Sabnzbd port. Default port 8080 conflicts with Kodi default port
sabnzbd_port: 9000

# Automatically configure usenet-crawler provider if API key is available
# usenet_crawler_api_key: 9d9af7ab6548948fcdc2db864ecd2588

# Configure news group server and account

# newsgroups_servers: 
#   - name: news.someserver.com
#     username: foo
#     password: bar
#     connections: 20


# sickrage role
# -------------

sickbeard_path: /opt/sickrage
sickbeard_api_key: 9d9af7ab6548948fcdc2db864ecd2588


# couchpotato role
# ----------------

couchpotato_path: /opt/couchpotato
couchpotato_apikey: bb138ccd9df84c33af9b310325b0d658


# htpc-manager role
# -----------------

htpc_manager_path: /opt/HTPCManager
